{% extends 'base.html' %}

{% block 'content' %}

<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-lg-3">
            <a href="#">LOGOTIPO</a>
        </div>
        <div class="col-lg-9 text-center">
            <li class="container-fluid d-flex">
                <ul>
                    <a href="#">Home</a>
                </ul>
                <ul>
                    <a href="#">Home</a>
                </ul>
                <ul>
                    <a href="#">Home</a>
                </ul>
            </li>

        </div>
    </div>
</div>

{% endblock %}